.texto
{
    text-align: center;
    font-weight: 200;
}
.texto2
{
    text-align: center;
    font-weight: 200;
    color: red;
    margin-top: 20px;
}
.comparador
{
    margin-top: 90px;
}
.toolbar
{
    text-align: center;
    font-weight: bolder;
}