<ion-content>
  <form class="formulario">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="login" type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input name="login" type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="botaoLogin" color="dark" type="submit" (click)="insereUsuario()" expand="block">
          Salvar<ion-icon slot="end" name="save-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="light" class="textocriarConta" (click)="irLogin()">Login</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
